Flask==3.0.0
Flask-SQLAlchemy==3.1.1
requests==2.31.0
beautifulsoup4
dnspython
flask-login
flask-bcrypt
flask-migrate
flask-wtf
email_validator
urllib3>=1.26.0
APScheduler
ipwhois
pyjarm
mmh3
gunicorn
psycopg2-binary
whitenoise
